{% extends "base.html" %}


{% block content %}

<h1>----Form Page----</h1>

<h2 class='text-danger'>Action Sum = {{sum}}</h2>

<form class='container m-auto'  action="">

    <div class='mb-3'>
        <label for="">Name: </label>
        <input type="text" name="value1" >
    </div>

    <div class='mb-3'>
        <label for="">Address: </label>
        <input type="text" name="value2" >
    </div>

    <div class="mb-3">
        <input type="submit" value="Submit">
        {% comment %} <button type='submit'>Submit</button> {% endcomment %}
    </div>

</form>

{% endblock content %}