
body{
    padding: 0px;
    margin: 0px;
}
.bg{
    height: 100vh;
    /* width: 100%; */
    /* background-image: url("./pic.png"); */
    /* background-image: url("./image/photo2.jpg"),linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.9)); */
    background-image: url("./image/triangle.png"),linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.9));
    background-blend-mode: overlay;
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;

    /* color: white; */
}