body{
    background-color: rgb(64, 64, 64);
}

.meal-card{
    box-shadow: 10px 10px 10px black;
}

.about-us{
    background-color: rgb(39, 39, 39);
}

.profile-img{
    width: 250px;
}

.about-des{
    border-left: 3px solid #FFC107;
}