{% extends "base.html" %}

{% load static %}

{% comment %} override content {% endcomment %}
{% block content %}

<div class='row container m-auto gap-5 mt-5 p-5 d-flex justify-content-center align-items-center'>
    <div class="col-6 rounded-5 text-center text-white">
        <h1 class="text-warning">Restaurant for <span class='text-primary'>CREATIVE</span> people</h1>
        <h5 class='mt-5'>Share your <span class='text-info'>CREATIVE</span> idea and enjoy a complimentary meal for <span class='text-danger'>FREE!!!</span></h5>
        {% comment %} <h4>Fuel your mind, fill your plate Share your spark, and grab a snack!</h4> {% endcomment %}
    </div>
    <img class='col-5 rounded-circle bg-warning' src={% static "image/restaurant-logo.png" %} alt="logo">
</div>

{% endblock content %}