{% extends "base.html" %}

{% block content %}

    {% comment %} <h1>Meal page...</h1> {% endcomment %}

    <div class="container m-auto p-5 gap-5 d-flex flex-wrap justify-content-center align-items-center">

        {% for meal in categories %}

            <div class="card border-secondary p-2 rounded-4 bg-warning" style="width: 18rem;">
                <img src={{meal.strCategoryThumb}} class="card-img-top" alt="meal">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title fs-3 text-danger">{{meal.strCategory}}</h5>
                        <h5 class="card-title text-secondary">ID: {{meal.idCategory}}</h5>
                    </div>
                  <p class="card-text">{{meal.strCategoryDescription | truncatewords:10 }}</p>
                </div>
              </div>

        {% endfor %}

    </div>

{% endblock content %}